@font-face {
	font-family: 'seti';
	src: url('atom://seti-ui/styles/_fonts/seti/seti.eot');
	src: url('atom://seti-ui/styles/_fonts/seti/seti.eot?#iefix') format('eot'),
		url('atom://seti-ui/styles/_fonts/seti/seti.woff2') format('woff2'),
		url('atom://seti-ui/styles/_fonts/seti/seti.woff') format('woff'),
		url('atom://seti-ui/styles/_fonts/seti/seti.ttf') format('truetype'),
		url('atom://seti-ui/styles/_fonts/seti/seti.svg#seti') format('svg');
		font-weight: normal;
		font-style: normal;
}

.icon-base-pseudo {
	font-family: 'seti';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.icon-char(@filename) {
	@bower: '\E001';
	@c-sharp: '\E002';
	@c: '\E003';
	@cake_php: '\E004';
	@cjsx: '\E005';
	@coffee: '\E006';
	@coffee_erb: '\E007';
	@coldfusion: '\E008';
	@config: '\E009';
	@cpp: '\E00A';
	@css: '\E00B';
	@csv: '\E00C';
	@default: '\E00D';
	@deprecation-cop: '\E00E';
	@docker: '\E00F';
	@editorconfig: '\E010';
	@ejs: '\E011';
	@error: '\E012';
	@favicon: '\E013';
	@folder: '\E014';
	@font: '\E015';
	@git_folder: '\E016';
	@git_ignore: '\E017';
	@github: '\E018';
	@go: '\E019';
	@go2: '\E01A';
	@grunt: '\E01B';
	@gulp: '\E01C';
	@haml: '\E01D';
	@haskell: '\E01E';
	@heroku: '\E01F';
	@html: '\E020';
	@html_erb: '\E021';
	@ignored: '\E022';
	@illustrator: '\E023';
	@image: '\E024';
	@jade: '\E025';
	@javascript: '\E026';
	@js_erb: '\E027';
	@json: '\E028';
	@julia: '\E029';
	@karma: '\E02A';
	@less: '\E02B';
	@license: '\E02C';
	@markdown: '\E02D';
	@mustache: '\E02E';
	@npm: '\E02F';
	@npm_ignored: '\E030';
	@pdf: '\E031';
	@photoshop: '\E032';
	@php: '\E033';
	@project: '\E034';
	@python: '\E035';
	@rails: '\E036';
	@react: '\E037';
	@ruby: '\E038';
	@sass: '\E039';
	@search: '\E03A';
	@settings: '\E03B';
	@shell: '\E03C';
	@stylus: '\E03D';
	@svg: '\E03E';
	@swift: '\E03F';
	@time-cop: '\E040';
	@typescript: '\E041';
	@xml: '\E042';
	@yml: '\E043';
	
	content: @@filename;
}

.icon(@filename, @color: @white, @insert: before) {
	@pseudo-selector: ~':@{insert}';

	&@{pseudo-selector} {
		&:extend(.icon-base-pseudo);
		.icon-char(@filename);
		color: @color;
	}
}

.icon-bower {
	.icon(bower);
}
.icon-c-sharp {
	.icon(c-sharp);
}
.icon-c {
	.icon(c);
}
.icon-cake_php {
	.icon(cake_php);
}
.icon-cjsx {
	.icon(cjsx);
}
.icon-coffee {
	.icon(coffee);
}
.icon-coffee_erb {
	.icon(coffee_erb);
}
.icon-coldfusion {
	.icon(coldfusion);
}
.icon-config {
	.icon(config);
}
.icon-cpp {
	.icon(cpp);
}
.icon-css {
	.icon(css);
}
.icon-csv {
	.icon(csv);
}
.icon-default {
	.icon(default);
}
.icon-deprecation-cop {
	.icon(deprecation-cop);
}
.icon-docker {
	.icon(docker);
}
.icon-editorconfig {
	.icon(editorconfig);
}
.icon-ejs {
	.icon(ejs);
}
.icon-error {
	.icon(error);
}
.icon-favicon {
	.icon(favicon);
}
.icon-folder {
	.icon(folder);
}
.icon-font {
	.icon(font);
}
.icon-git_folder {
	.icon(git_folder);
}
.icon-git_ignore {
	.icon(git_ignore);
}
.icon-github {
	.icon(github);
}
.icon-go {
	.icon(go);
}
.icon-go2 {
	.icon(go2);
}
.icon-grunt {
	.icon(grunt);
}
.icon-gulp {
	.icon(gulp);
}
.icon-haml {
	.icon(haml);
}
.icon-haskell {
	.icon(haskell);
}
.icon-heroku {
	.icon(heroku);
}
.icon-html {
	.icon(html);
}
.icon-html_erb {
	.icon(html_erb);
}
.icon-ignored {
	.icon(ignored);
}
.icon-illustrator {
	.icon(illustrator);
}
.icon-image {
	.icon(image);
}
.icon-jade {
	.icon(jade);
}
.icon-javascript {
	.icon(javascript);
}
.icon-js_erb {
	.icon(js_erb);
}
.icon-json {
	.icon(json);
}
.icon-julia {
	.icon(julia);
}
.icon-karma {
	.icon(karma);
}
.icon-less {
	.icon(less);
}
.icon-license {
	.icon(license);
}
.icon-markdown {
	.icon(markdown);
}
.icon-mustache {
	.icon(mustache);
}
.icon-npm {
	.icon(npm);
}
.icon-npm_ignored {
	.icon(npm_ignored);
}
.icon-pdf {
	.icon(pdf);
}
.icon-photoshop {
	.icon(photoshop);
}
.icon-php {
	.icon(php);
}
.icon-project {
	.icon(project);
}
.icon-python {
	.icon(python);
}
.icon-rails {
	.icon(rails);
}
.icon-react {
	.icon(react);
}
.icon-ruby {
	.icon(ruby);
}
.icon-sass {
	.icon(sass);
}
.icon-search {
	.icon(search);
}
.icon-settings {
	.icon(settings);
}
.icon-shell {
	.icon(shell);
}
.icon-stylus {
	.icon(stylus);
}
.icon-svg {
	.icon(svg);
}
.icon-swift {
	.icon(swift);
}
.icon-time-cop {
	.icon(time-cop);
}
.icon-typescript {
	.icon(typescript);
}
.icon-xml {
	.icon(xml);
}
.icon-yml {
	.icon(yml);
}
