.tabs-bar, .tab-bar {

  @import "icons";

  // TAB BAR
  height: @top-bar;
  background: @tab-bar-background-color;

  // SINGLE TAB
  .tab {
    background: @tab-background-color;
    color: @tab-text-color;
    height: @top-bar;
    padding: 20px 10px;
    border-bottom: solid 3px @black;
    border-right: solid 1px @tab-border-color;

    // ICONS
    &> .title {
      margin-right: 20px;
      &::before {
        background: url('atom://seti-ui/icons/icon_default.svg') no-repeat;
        display: inline-block;
        content: '';
        height: 17px;
        margin: 0 5px -4px 0;
        width: 17px;
      }

    }

    &:hover {
      background: #111213;
      transition: background 0.5s ease;
    }

    // ACTIVE TAB
    &.active {
      background: #111213;
      border-bottom: solid 3px @blue;
    }

    // SETTINGS TAB
    &[data-type="SettingsView"] {
      background: @blue;
      padding: 17px 10px;

      &.active {
        background: @black;
      }
      .icon-tools {
        &::before {
          background: url('atom://seti-ui/icons/icon_settings.svg');
          content: '';
          height: 25px;
          margin: 0 2px -9px 0;
          width: 25px;
          opacity: 0.7;
        }
      }

    }

  }

  // CLOSE ICON
  .close-icon {
    top: 22px;
    right: 10px;
  }

  // MODIFIED TAB
  .modified {

    &:hover .close-icon {
      color: @red;
    }

    &:not(:hover) .close-icon {
      border-color: @yellow;
      top: 26px;
      right: 14px;
    }

  }


  // - - - - - - - - - - -
  //  USER MODIFIED STYLES
  // - - - - - - - - - - -

  &.seti-hide-tabs {
    display: none;
  }

  // SMALL TABS
  &.small-tab {
    height: @top-bar-small;
    .tab, .tab[data-type="SettingsView"] {
      height: @top-bar-small;
      padding: 8px 8px;
    }

    .tab > .title,
    .icon-file-text,
    .icon-book,
    .icon-file-media {
      &::before {
        margin: 3px 3px -7px 0;
        height: 20px;
        width: 20px;
      }
    }

    // CLOSE ICON
    .close-icon {
      top: 11px;
      right: 5px;
    }

    .modified {

      .close-icon {
        top: 1px;
        right: 5px;
      }

      &:not(:hover) {
        .close-icon {
          border-color: @blue;
          top: 15px;
          right: 9px;
        }
      }

    }
  }

}
