@font-face {
	font-weight: normal;
	font-style: normal;
}

.icon-icons_go:before {
}
.icon-ejs:before {
}
.icon-icons_ts:before {
}
.icon-icons_yml:before {
}
.icon-icons_karma:before {
}
.icon-icons_ico:before {
}
.icon-icons_jl:before {
}
.icon-icons_jsx:before {
}
.icon-icons_npm:before {
}
.icon-icons_node:before {
}
.icon-icons_yml:before {
}
.icon-icons_xml:before {
}
.icon-icons_bower:before {
}
.icon-icons_stylus:before {
}
.icon-icons_site:before {
}
.icon-icons_sh:before {
}
.icon-icons_sass:before {
}
.icon-icons_rb:before {
}
.icon-icons_rails:before {
}
.icon-icons_py:before {
}
.icon-icons_procfile:before {
}
.icon-icons_php:before {
}
.icon-icons_md:before {
}
.icon-icons_license:before {
}
.icon-icons_json:before {
}
.icon-icons_js:before {
}
.icon-icons_img:before {
}
.icon-icons_html:before {
	content: "";
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 4px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACCElEQVR42p2Sz0sUYRzGt1NQf4KXIH3f2VU08iB08dJFaHdmlXLDNrUlMQIVIe2i0M0fQVCRXoToEHQxiE6aUJAGYQZFYUGpM7O7szPabi3ij3Se3ve1fXdnBwl64Rlm3vl+P/N9n3kCejRYY6gE/6F9AIEAv7CH9cMKfyRCPjnxIH9nSICpkmXR0FIDM1bvUa63watrdQygcMCSBOgR+pIDUuP9cBzHo/K1OXUTdpsCUyMzxSNo5DEHJIc6RJP9cRGZ2Wmh3fdzHv26FUXmogA8LAXcE4D+ZgGwnkxID7JXQz5ZreIII8UjaFVDvNhMNB5MsLSA9NSo0Naz+x7lrp9G6jyFEaE3Siagib8m/sMDF9muEFItFMz4yxKwpirhwsjJgZhH+dvtQu5PB27OFkcwowRrKjkrAavqyTMFQOb1DOy3r3weuLvb2DO+8Hu+zyF1EpDWlBMSsPCCjW4jNXwFZusp5HoasDnZB75+f34jgiRqz5EKCUBT5VEJmJ0uemClAXdfOrAz/xQbnSKFvPVIAVD4lfkDI6uRHIzBenQH9rt57K18wPbzSeTH4sh212K9PcgNtHiPFxAh3wRAyp+DjY4gywDl+598AF2lnWyKOV0lO6UA+5KC9AXKkwf2kS0eYZaBtnKAlBWvPZ5UK8OmRh/oEfLd0Kq+MtBdI0yaFsP1x8rr/wBADrURGehn9gAAAABJRU5ErkJggg==) 0 0 no-repeat;
}
.icon-icons_hbs:before {
}
.icon-icons_gulp:before {
}
.icon-icons_grunt:before {
}
.icon-icons_file:before {
}
.icon-icons_dir:before {
}
.icon-icons_css:before {
}
.icon-icons_config:before {
}
.icon-icons_coffee:before {
}
.icon-icons_elm:before {
}
.icon-icons_ls:before {
}
