/*
************************************************************
** STATUS COLORS (from least important to most important)
************************************************************
*/

@color-default: #D3D6D5;
@color-status-ignored: #40535B;
@color-status-added: rgb(159,202,86);
@color-status-renamed: rgb(79,153,211);
@color-status-modified: rgb(220,205,105);
@color-status-removed: rgb(206,64,69);
