@font-face {
	font-weight: normal;
	font-style: normal;
}

.icon-icons_go:before {
	content: "\e621";
}
.icon-ejs:before {
	content: "\e602";
}
.icon-icons_ts:before {
	content: "\e622";
}
.icon-icons_yml:before {
	content: "\e617";
}
.icon-icons_karma:before {
	content: "\e61c";
}
.icon-icons_ico:before {
	content: "\e61d";
}
.icon-icons_jl:before {
	content: "\e61e";
}
.icon-icons_jsx:before {
	content: "\e620";
}
.icon-icons_npm:before {
	content: "\e616";
}
.icon-icons_node:before {
	content: "\e617";
}
.icon-icons_yml:before {
	content: "\e618";
}
.icon-icons_xml:before {
	content: "\e619";
}
.icon-icons_bower:before {
	content: "\e61a";
}
.icon-icons_stylus:before {
	content: "\e600";
}
.icon-icons_site:before {
	content: "\e601";
}
.icon-icons_sh:before {
	content: "\e602";
}
.icon-icons_sass:before {
	content: "\e603";
}
.icon-icons_rb:before {
	content: "\e604";
}
.icon-icons_rails:before {
	content: "\e605";
}
.icon-icons_py:before {
	content: "\e606";
}
.icon-icons_procfile:before {
	content: "\e607";
}
.icon-icons_php:before {
	content: "\e608";
}
.icon-icons_md:before {
	content: "\e609";
}
.icon-icons_license:before {
	content: "\e60a";
}
.icon-icons_json:before {
	content: "\e60b";
}
.icon-icons_js:before {
	content: "\e60c";
}
.icon-icons_img:before {
	content: "\e60d";
}
.icon-icons_html:before {
	width: 16px;
	height: 16px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACCElEQVR42p2Sz0sUYRzGt1NQf4KXIH3f2VU08iB08dJFaHdmlXLDNrUlMQIVIe2i0M0fQVCRXoToEHQxiE6aUJAGYQZFYUGpM7O7szPabi3ij3Se3ve1fXdnBwl64Rlm3vl+P/N9n3kCejRYY6gE/6F9AIEAv7CH9cMKfyRCPjnxIH9nSICpkmXR0FIDM1bvUa63watrdQygcMCSBOgR+pIDUuP9cBzHo/K1OXUTdpsCUyMzxSNo5DEHJIc6RJP9cRGZ2Wmh3fdzHv26FUXmogA8LAXcE4D+ZgGwnkxID7JXQz5ZreIII8UjaFVDvNhMNB5MsLSA9NSo0Naz+x7lrp9G6jyFEaE3Siagib8m/sMDF9muEFItFMz4yxKwpirhwsjJgZhH+dvtQu5PB27OFkcwowRrKjkrAavqyTMFQOb1DOy3r3weuLvb2DO+8Hu+zyF1EpDWlBMSsPCCjW4jNXwFZusp5HoasDnZB75+f34jgiRqz5EKCUBT5VEJmJ0uemClAXdfOrAz/xQbnSKFvPVIAVD4lfkDI6uRHIzBenQH9rt57K18wPbzSeTH4sh212K9PcgNtHiPFxAh3wRAyp+DjY4gywDl+598AF2lnWyKOV0lO6UA+5KC9AXKkwf2kS0eYZaBtnKAlBWvPZ5UK8OmRh/oEfLd0Kq+MtBdI0yaFsP1x8rr/wBADrURGehn9gAAAABJRU5ErkJggg==');
}
.icon-icons_hbs:before {
	content: "\e60f";
}
.icon-icons_gulp:before {
	content: "\e610";
}
.icon-icons_grunt:before {
	content: "\e611";
}
.icon-icons_file:before {
	content: "\e612";
}
.icon-icons_dir:before {
	content: "\e613";
}
.icon-icons_css:before {
	content: "\e614";
}
.icon-icons_config:before {
	content: "\e615";
}
.icon-icons_coffee:before {
	content: "\e61b";
}
.icon-icons_elm:before {

}
.icon-icons_ls:before {
	content: "\e901";
}
