atom-panel-container.left, atom-panel-container.right {
  background: @tree-view-background-color;
  padding: 0;

  // HIDE OPEN/CLOSE SELECTOR FOR PROJECT ROOT
  .directory.entry.list-nested-item.project-root.selected:before {
    display: none;
  }

  .tool-panel { background: none; }
  .tree-view {
    padding: 0;
    .icon:before{
        display:none;
    }
    &.list-tree.has-collapsable-children .list-nested-item {
        // > .list-item:before{
        //     content: "\f05b";
        // }
        // &.collapsed > .list-item:before{
        //     content: "\f05a";
        // }
        > .list-tree > li {
            padding-left: 7.5px;
        }
    }
    font-size: 9px;
  }

}
