// SIDEBAR
atom-panel-container.left {
  margin-top: @top-bar;

  @import "workspace/icons";

  .panel-left {
    border: none;
  }

  // FILE LIST CONTAINER
  .entries.list-tree {

    .directory.entry.list-nested-item {
      &:hover::before {
        background: @tree-view-highlight;
        content: '';
        display: inline-block;
        height: 25px;
        left: 0px;
        position: absolute;
        z-index: -1;
        transition: ease 0.5s background;
        opacity: 0.25;
        width: 100%;
      }
    }

     .file.entry.list-item {
      cursor: pointer;
      &::after {
        display: inline-block;
        content: '';
        height: 25px;
        width: 100%;
        left: 0px;
        position: absolute;
        z-index: -1;
        transition: ease 0.5s background;
      }

      &:hover::after {
        background: @tree-view-highlight;
      }
    }

    // LIST ITEMS
    .directory.entry.list-nested-item, .file.entry.list-item {
      color: @tree-view-text-color;
      font-weight: 100;
      letter-spacing: 0.1em;
      padding-top: 3px;
      padding-bottom: 3px;

      // SELECTED STATE
      &.selected {
        &::before {
          background: @tree-view-highlight;
        }
      }

      // STATUS COLORS
      &.status-added {
        color: @text-color-success;
      }

      &.status-modified {
        color: @text-color-warning;
      }

      &.status-ignored {
        color: @text-color-ignored;
        &.seti-hide {
          display: none;
        }
      }

    }

    .file.entry.list-item {
      .icon-book,
      .icon-file-text,
      .icon-file-media {
        &::before {
          content: '';
          height: 18px;
          margin-bottom: -4px;
          width: 18px;
        }
      }
    }


    // DIRECTORIES
    .directory.entry.list-nested-item {

      // IGNORED FILES
      &.status-ignored {
        .icon-file-directory, {
          &::before {
            background: url('atom://seti-ui/icons/icon_ignored.svg');
            content: '';
            height: 24px;
            margin: 0 0px -8px -7px;
            width: 24px;
          }
        }
      }

      // GIT FOLDER
      .icon-file-directory[data-name$=".git"], {
        &::before {
          background: url('atom://seti-ui/icons/icon_git-folder.svg');
          content: '';
          height: 24px;
          margin: 0 0px -8px -7px;
          width: 24px;
        }
      }
    }

    // &.seti-compact {
    //   .directory.entry.list-nested-item, .file.entry.list-item {
    //     padding: 0;
    //   }
    // }

  }


  // - - - - - - - - - - -
  //  USER MODIFIED STYLES
  // - - - - - - - - - - -

  &.seti-compact {
    margin-top: @top-bar-small;
    .entries.list-tree .directory.entry.list-nested-item, .entries.list-tree .file.entry.list-item {
      padding-bottom: 0;
      padding-top: 0;
      letter-spacing: 0.05em;
    }
  }

}
