// SIDEBAR
atom-panel-container.left {
  margin-top: @top-bar;

  @import "workspace/icons";

  .panel-left {
    border: none;
  }

  // FILE LIST CONTAINER
  .entries.list-tree {

    // LIST ITEMS
    .directory.entry.list-nested-item, .file.entry.list-item {
      color: @tree-view-text-color;
      padding-top: 5px;
      padding-botom: 5px;

      // SELECTED STATE
      &.selected {
        &::before {
          background: @tree-view-highlight;
        }
      }

      // STATUS COLORS
      &.status-added {
        color: @text-color-success;
      }

      &.status-modified {
        color: @text-color-warning;
      }

      &.status-ignored {
        color: @text-color-ignored;
        &.seti-hide {
          display: none;
        }
      }

    }

    .file.entry.list-item {
      .icon-book,
      .icon-file-text,
      .icon-file-media {
        &::before {
          content: '';
          height: 18px;
          margin-bottom: -4px;
          width: 18px;
        }
      }
    }


    // DIRECTORIES
    .directory.entry.list-nested-item {

      // IGNORED FILES
      &.status-ignored {
        .icon-file-directory, {
          &::before {
            background: url('atom://seti-ui/icons/icon_ignored.svg');
            content: '';
            height: 24px;
            margin: 0 0px -8px -7px;
            width: 24px;
          }
        }
      }

      // GIT FOLDER
      .icon-file-directory[data-name$=".git"], {
        &::before {
          background: url('atom://seti-ui/icons/icon_git-folder.svg');
          content: '';
          height: 24px;
          margin: 0 0px -8px -7px;
          width: 24px;
        }
      }
    }

  }


  // - - - - - - - - - - -
  //  USER MODIFIED STYLES
  // - - - - - - - - - - -

  &.seti-no-icons {
    
  }

  &.small-tab { margin-top: @top-bar-small; }

}
